<%= form_with(model: account_teacher) do |form| %>
  <% if account_teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account_teacher.errors.count, "error") %> prohibited this account_teacher from being saved:</h2>

      <ul>
        <% account_teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :account_name, style: "display: block" %>
    <%= form.text_field :account_name %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
