<p style="color: green"><%= notice %></p>

<%= render @account_student %>

<div>
  <%= link_to "Edit this account student", edit_account_student_path(@account_student) %> |
  <%= link_to "Back to account students", account_students_path %>

  <%= button_to "Destroy this account student", @account_student, method: :delete %>
</div>
